<div class="item-content {{cssClass}}">
    <p>We want you to be<strong>&nbsp;</strong>satisfied&nbsp;with the products you buy from us.&nbsp;</p>
    <p></p>
    <p>We have 24/7/365 ticket and email support. Please contact us at <strong><a href="mailto:contact@pawfecthouse.com" target="_blank" title="mailto:contact@pawfecthouse.com">contact@pawfecthouse.com</a></strong> if
      you need any assistance.</p>
</div>
