<div style='clear:both'></div>
<div style='text-align: center'>
  <a class="jdgm-verified-count-badget" href="https://pawfecthouse.com/pages/happy-customers" data-from-snippet='{% if concierge_install != nil %}{{ concierge_install }}{% else %}true{% endif %}'>
    {{ shop.metafields.judgeme.verified_badge }}
  </a>
</div>