<div class="personalized_tip">
    {% render 'info-icon'%}
    <div class='personalized_tip--text'>
        <span><strong>Tip:</strong> If the Personalized feature isn't working, it's because of some <strong>required options</strong> have been left empty or unselected.</span>
    </div>
</div>